	body
{
    font-family: arial, sans-serif;
    font-size: 100%;
    margin: 10px;
    color: #222;
	opacity: 0.75;
	background-image:url(index.jpg);
	padding-top: 500px;
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
}
 
#page
{
    min-width: 200px;
    height: 100%;
    padding: 20px 30px;
    margin: -450px auto;
    background-color: lightgrey;
    border: 1px solid #999;
	border-radius: 10px 10px 10px 10px;
	
}
 
section
{
    width: 100%;
    margin-bottom: 3em;
}
 
div.element
{
    text-align: center;
    padding: 5px 10px;
    margin: 50px;
    background-color: #dfd;
}
 
h1
{
    font-weight: normal;
    margin: 0 0 1em 0;
	text-align: center;
}
 
strong
{
    color: #c00;
}
 
@media all and (min-width: 500px) {
  body
{
    background-color: #ddf;
}
 
#page
{
    max-width: 600px;
}
  
section:after {
  content: "";
  display: table;
  clear: both;
}
 
div.element
{
    float: left;
    width: 30%;
    padding: 30px 0;
    background-color: #ddf;
}
}